<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="" xmlns:xsi="" 
             xsi:schemaLocation="">
    <persistence-unit name="ExemploJavaDB01PU" 
                          transaction-type="RESOURCE_LOCAL">
        <provider>
            org.eclipse.persistence.jpa.PersistenceProvider
        </provider>
        <class>modelJPA.Aluno</class>
        <properties>
            <property name="javax.persistence.jdbc.url" 
                          value="jdbc:derby://localhost:1527/escola"/>
            <property name="javax.persistence.jdbc.user" 
                          value="escola"/>
            <property name="javax.persistence.jdbc.driver" 
                          value="org.apache.derby.jdbc.ClientDriver"/>
            <property name="javax.persistence.jdbc.password" 
                          value="escola"/>
        </properties>
    </persistence-unit>
</persistence>   